.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position:fixed;
    top: 0;
    }
  
  .icon-bar a {
    float: left; 
    text-align: center;
    width: 10%; 
    padding: 12px 0;
    transition: all 0.5s ease; 
    color: white; 
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: #000000; 
  }
  
  .icon-bar a:active {
    background-color: #00eeff;
  }

  
  .active {
    background-color: #00eeff;
  }

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

div {
  background-color: #9E643B;
  width: "100%";
}

img {
  text-align: center;
}

h1 {
  background-color: #9E643B;
  color: black;
  font-size:300%;
  text-align: center;
  }

h2 {
  background-color: #9E643B;
  color: black;
  font-size:150%;
  text-align: center;
}

table, tr, th, td {
  border: 2px solid black;
  padding: 30px;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  list-style-position: inside;
}
td:nth-child(odd) {
  background-color: #ff5e00;
}

p {
  text-align: justify;
}

ol, li {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 

  
